body{
    background-color: bisque;
}
.header {
    color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
  }

  .header > div > img{
    height: 100px;
    width: 100px;
  }

  .header-left{
    display: flex;
    align-items: center;
  }

  nav{
    display: flex;
    justify-content: space-around;

  }

  nav > button{
    padding: 20px;
    border: none;
    background: none; 
    text-decoration: underline;  
    color: brown;
    font-size: 20px;
  }

  .content > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content > div > img{
    display: flex;
    height: 50px;
    width: 50px;
  }

  .contact-content, .about-content{
    text-align: center;
  }

  .contact-content{
    border: 5px solid brown;
    border-radius: 15px;
  }