body{
    background-color: bisque;
}
.header {
    color: brown;
    display: flex;
    align-items: center;
    background-color: bisque;
  }
  .header > img{
    height: 100px;
    width: 100px;
  }

  .content > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content > div > img{
    display: flex;
    height: 50px;
    width: 50px;
  }

  .contact-content{
    text-align: center;
  }